@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none !important;
    }

    * {
        border-color: hsl(220 13% 91%);
    }
    body {
        color: hsl(224 71% 4%);
        background: hsl(0 0% 100%);
    }
}
